<footer class="footer mt-auto py-5 bg-light text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Welcome to My Blog, your go-to source for all things related to [your blog's theme or niche]. We're dedicated to providing you with quality content, [additional information about your blog].</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Authors</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Blog Posts</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <address>
                    <strong>My Blog</strong><br>
                    123 Street, Cityville<br>
                    Country, 12345<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light py-2">
        <div class="container">
            <div class="text-muted text-center">
                &copy; 2023 My Blog. All rights reserved.
            </div>
        </div>
    </div>
</footer>
