{% extends 'base.html' %}

{% block title %}All Blog Posts{% endblock %}

{% block content %}
    <h2 class="my-4">All Blog Posts</h2>
    
    {% if blog_posts %}
        <div class="list-group">
            {% for blog_post in blog_posts %}
                <a href="{% url 'blogpost-detail' blog_post.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ blog_post.title }}</h5>
                        <small class="text-muted">Published on {{ blog_post.pub_date|date:"F j, Y" }}</small>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% include 'includes/pagination.html' %}
    {% else %}
        <p class="text-muted">No blog posts available.</p>
    {% endif %}
{% endblock %}
